:root {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  padding: 1rem;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.header > h1 {
  padding: 1rem;
  color: rgb(5, 114, 238);
  max-width: 100%;
}
.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  min-width: fit-content;
  flex-wrap: wrap;
  padding: 1rem;
}
#toggle-button {
  width: fit-content;
  padding: 1rem;
  border: none;
  color: rgb(5, 114, 238);
  font-weight: bold;
  background: none;
}
.search-input {
  border-radius: 1rem;
  padding: 0.5rem;
  outline: solid black 2px;
  border: none;
  width: 50%;
  max-height: fit-content;
}
.hero {
  margin: 1rem;
  background-color: azure;
}
.hero-title {
  font-size: 2rem;
  padding: 1rem;
}
.weather-card-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.city-card {
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.1);
  padding: 1rem;
  overflow-x: hidden;
  background: white;
}
.weather-details {
  padding: 1rem;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 1rem;
  min-width: fit-content;
  overflow-x: hidden;
}
.today-weather {
  border-right: solid black 1px;
  min-width: fit-content;
  padding: 1rem;
}
.description {
  font-size: 0.9rem;
  color: rgb(253, 118, 8);
}
.week-days-weather {
  display: flex;
  gap: 2rem;
  min-width: fit-content;
  overflow-x: scroll;
}
.day-container {
  min-width: fit-content;
  font-size: 0.9rem;
  padding: 1rem;
}
.city-heading {
  color: rgb(5, 114, 238);
}
.footer {
  background-color: black;
  color: white;
  min-height: 50vh;
  /* position: sticky; */
  bottom: 0;

  align-content: center;
  justify-items: center;
  text-align: center;
}
