:root {
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}
.header {
  padding: 1rem;
  background-color: rgb(18, 111, 231);
  color: white;
  align-content: center;
  justify-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title {
  font-size: 2rem;
  align-self: center;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 1rem;
}
button {
  transition: transform 0.3s ease;
}
.nav > button {
  border: none;
  background: none;
  color: white;
  text-decoration: underline;
  min-width: fit-content;
  max-width: fit-content;
  /* transition: transform 0.3s ease; */
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
button:active {
  transform: scale(0.9);
}
.search-box {
  border-radius: 1rem;
  border: solid white 1px;
  padding: 0.5rem;
  background-color: white;
  width: fit-content;
  transform: transition 0.3s ease;
}
.search-box:hover {
  transform: scale(1.1);
}
.search-box > input {
  font-size: 0.8rem;
  border: none;
  outline: none;
  width: fit-content;
}
.search-input:focus {
  border: none;
  outline: none;
}
.hero {
  background-image: url(./images/earth.jpg);
  background-size: cover;
  background-position: center;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}
/* .weather-content {
  padding: 1rem;
} */
/* .city-name {
  justify-self: center;
  background-color: rgb(18, 111, 231);
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  width: 10%;
  text-align: center;
  min-width: fit-content;
} */
.hero-container {
  color: white;
  width: 750px;
  backdrop-filter: blur(10rem);
  padding: 1rem;
  height: 100%;
}
.hero-heading {
  font-size: 4rem;
  font-weight: bold;
}
.hero-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.current-city {
  background-color: white;
  height: fit-content;
  margin: 1rem;
  padding: 1rem;
}
.default-city-heading {
  font-size: 1.5rem;
  justify-self: center;
}
.default-city-weather-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.default-city-container {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  height: 200px;
  border-radius: 1rem;
}
.global-weather-container {
  padding: 2rem;
  justify-items: center;
  align-content: center;
}
.local-weather-button {
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(18, 111, 231);
  border-radius: 1rem;
  border: solid white 3px;
  color: white;
  font-weight: bold;
}
.world-map-container {
  height: 300px;
  width: 90%;
  overflow: hidden;
}
.world-map {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.global-weather-heading {
  margin: 1rem;
  font-size: 3rem;
  font-weight: bold;
}
