:root {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: rgba(240, 248, 255, 0.9);
  position: sticky;
  top: 0;
}
.header > h1 {
  padding: 1rem;
  color: rgb(5, 114, 238);
  max-width: 100%;
  font-size: 1.5rem;
}
.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  min-width: fit-content;
  flex-wrap: wrap;
  padding: 1rem;
}
#toggle-button {
  width: fit-content;
  padding: 1rem;
  border: none;
  color: rgb(5, 114, 238);
  font-weight: bold;
  background: none;
}
.search-input {
  border-radius: 1rem;
  padding: 0.5rem;
  outline: solid rgb(5, 114, 238) 2px;
  border: none;
  width: 50%;
  max-height: fit-content;
}
.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  padding-top: 4rem;
  gap: 2rem;
  /*gap: 2rem; */
}
.home-hero {
  background-image: url("./images/city.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
.heading-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
}
.about-heading {
  font-size: 4rem;
  font-weight: bold;
}
.default-city {
  width: fit-content;
  padding: 1rem;
  background-color: rgb(5, 114, 238);
  color: white;
  border-radius: 1rem;
}
.default-city-weather-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
}

.hero {
  background-color: white;
  margin-top: 2rem;
}
.hero-title {
  font-size: 2rem;
  padding: 1rem;
}
.weather-card-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.city-card {
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.1);
  padding: 1rem;
  overflow-x: hidden;
  background: aliceblue;
  border-radius: 1rem;
  margin-inline: 2rem;
}
.weather-details {
  padding: 1rem;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 1rem;
  min-width: fit-content;
  overflow-x: hidden;
}
.today-weather {
  border-right: solid black 1px;
  min-width: fit-content;
  padding: 1rem;
}
.description {
  font-size: 0.9rem;
  color: rgb(253, 118, 8);
}
.week-days-weather {
  display: flex;
  gap: 2rem;
  min-width: fit-content;
  overflow-x: scroll;
}
.day-container {
  min-width: fit-content;
  font-size: 0.9rem;
  padding: 1rem;
}
p {
  color: rgb(82, 81, 81);
}
.city-heading {
  color: rgb(5, 114, 238);
}
.footer {
  background-color: black;
  color: white;
  min-height: 50vh;
  /* position: sticky; */
  bottom: 0;

  align-content: center;
  justify-items: center;
  text-align: center;
}
