:root {
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}
.header {
  padding: 1rem;
  background-color: rgb(18, 111, 231);
  color: white;
  align-content: center;
  justify-items: center;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 2rem;
}
.nav {
  display: flex;
  gap: 4rem;
  margin: 1rem;
}
.nav > button {
  border: none;
  background: none;
  color: white;
  text-decoration: underline;
  min-width: fit-content;
  max-width: fit-content;
  transition: transform 0.3s ease;
}
.nav > button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.nav > button:active {
  transform: scale(0.9);
}
.search-box {
  border-radius: 1rem;
  border: solid white 1px;
  padding: 0.5rem;
  background-color: white;
  width: fit-content;
  transform: transition 0.3s ease;
}
.search-box:hover {
  transform: scale(1.1);
}
.search-box > input {
  font-size: 0.8rem;
  border: none;
  outline: none;
  width: fit-content;
}
.search-input:focus {
  border: none;
  outline: none;
}
.hero {
  background-image: url(./images/waterDroplets.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
